@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .link {
    @apply text-blue-500 hover:underline;
  }
}

@layer components {
  .buttonPrimary {
    @apply text-base font-semibold px-6 py-2 rounded-lg bg-button1 lg:hover:brightness-[1.2] active:brightness-[1.2] text-white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .cardBg {
    background: radial-gradient(circle farthest-side at -10% 50%, #28387e, #1c285d 20%, #090f3a 100%);
  }

  .cardBg2 {
    background: radial-gradient(circle at 0% 15%, #223374, #050833, transparent),
      radial-gradient(circle at bottom right, #3a156c, #260432, transparent);
    background-blend-mode: color;
  }

  .cardBg3 {
    @apply bg-gradient-to-br from-[#090f3a] to-[#1c285d];
  }

  .cardBg4 {
    @apply border border-[#285CAF] bg-[#041249];
  }

  .cardGlass {
    @apply shadow-[inset_0px_1px_0px_1px_rgba(61,61,111,1)] bg-[#202859] bg-opacity-[50%];
  }

  .selectGlass {
    @apply bg-gradient-to-br from-[#1F306F] to-[#102260] border-2 border-[#283d87];
  }
}
