@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #3c4375;
    border-radius: 100vh;
    border: 0px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(76, 82, 128);
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #060a2c;
  }

  .link {
    @apply text-blue-500 hover:underline;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    box-shadow: inset 1px 1px 6px -2px rgba(255, 255, 255, 0.6);
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    background: #0364ff;
    border-radius: 9999px;
  }

  .underlineAni::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(226 232 240);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    transform: scale(0);
    transform-origin: center;
    transform: scale(0);
    transform-origin: center;
  }

  .underlineAni:hover::after {
    opacity: 1;
    transform: scale(1);
  }

  .underlineStatic::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(226 232 240);
  }

  .halfHideScrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border: 0px;
  }
  .halfHideScrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .halfHideScrollbar::-webkit-scrollbar {
    width: 17px;
    height: 20px;
  }

  .buttonHeight {
    @apply h-[52px] lg:h-[40px];
  }
}

@layer components {
  .sectionSize {
    @apply mx-[12px] xs:mx-[24px] lg:mx-[32px] w-full lg:max-w-[1240px];
  }
  .errorModalFont {
    @apply text-lg;
  }

  .buttonPrimary {
    @apply buttonHeight text-base px-[16px] font-medium rounded-lg border border-button1 bg-button1 text-white hover:brightness-[1.3] active:brightness-[1.3] transition-all duration-300 disabled:bg-slate-600 disabled:border-slate-600;
  }

  .buttonDisabled {
    @apply buttonHeight text-base px-[16px] font-medium rounded-lg border border-slate-500 bg-slate-500 text-white cursor-default;
  }

  .buttonSecondary {
    @apply buttonHeight text-base font-medium rounded-lg border border-[#253680] hover:brightness-[1.3] active:brightness-[1.3] text-white;
  }

  .modalBase {
    @apply flex flex-col items-center rounded-[16px] fixed left-[50%] top-[50%] -translate-x-[50%] -translate-y-[50%] z-[11];
  }

  .modalColor {
    @apply bg-gradient-to-br from-blue2 to-blue1 border-2 border-blue2;
  }

  .errorModalSize {
    @apply w-[440px] max-h-[90%];
  }

  .txModalSize {
    @apply w-[440px] h-[400px];
  }

  .modalXpadding {
    @apply px-[32px];
  }

  .modalYpadding {
    @apply py-[24px];
  }

  .txModal {
    @apply modalBase modalColor txModalSize modalYpadding;
  }

  .errorModal {
    @apply modalBase modalColor errorModalSize modalYpadding;
  }

  .modalButtonContainer {
    @apply pt-[36px] pb-[20px] w-full flex flex-col items-center space-y-[24px];
  }

  .modalBlackout {
    @apply opacity-[70%] dark:opacity-[88%] fixed inset-0 bg-black backdrop-blur-xl z-[10];
  }

  .skeleton {
    @apply bg-[#354981] bg-opacity-50 rounded-md animate-pulse text-transparent select-none;
  }

  .skeletonArea {
    @apply bg-[#354981] bg-opacity-50 rounded-xl animate-pulse;
  }

  .number {
    @apply w-[34px] h-[34px] bg-gradient-to-br from-[#4a5787] to-[#1c348d] border border-[#405293] rounded-full flex items-center justify-center text-lg font-bold shadow-[inset_1px_2px_5px_-1px_rgba(255,255,255,0.2)];
  }

  .check {
    @apply w-[34px] h-[34px] bg-green-600 rounded-full flex items-center justify-center font-bold;
  }

  .lineContainer {
    @apply w-[34px] py-[6px] flex justify-center items-center;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .cardBg {
    background: radial-gradient(circle farthest-side at -10% 50%, #28387e, #1c285d 20%, #090f3a 100%);
  }

  .cardBg1 {
    background: radial-gradient(circle at 85% -4%, #223374, #050833, transparent), radial-gradient(circle at 15% 110%, #3a156c, #260432, transparent);
    background-blend-mode: color;
  }

  .cardBg2 {
    background: radial-gradient(circle at 15% 0%, #223374, #050833, transparent), radial-gradient(circle at 85% 100%, #3a156c, #260432, transparent);
    background-blend-mode: color;
  }

  .cardBg3 {
    @apply bg-gradient-to-br from-[#090f3a] to-[#1c285d];
  }

  .cardBg4 {
    @apply border border-[#285CAF] bg-[#3e3d79] bg-opacity-[15%];
  }

  .cardGlass {
    @apply shadow-[inset_0px_1px_0px_1px_rgba(61,61,111,1)] bg-[#202859] bg-opacity-[50%];
  }

  .selectGlass {
    @apply bg-gradient-to-br from-[#1F306F] to-[#102260] border-2 border-[#283d87];
  }

  .bgVaults {
    background: radial-gradient(circle farthest-side at 50% 100%, #232686, #0e1145, #050929 90%);
  }

  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04aa6d; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04aa6d; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
}
